<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:label="HeartBeat"
        android:supportsRtl="true">

        <service
            android:name=".service.AndroidHeartbeatForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice|dataSync" />
    </application>

</manifest>
